@import '../../assets/styles/variables';

.header {
  margin-bottom: 35px;

  h2 {
    margin-bottom: 0;
    color: #b0b1b3;

    span {
      text-transform: capitalize;
      color: $input-text-color;
    }
  }

  p {
    margin-top: 5px;
  }
}
